body
{
    color: white;
    text-align: center;
    font-family: 'Courier';
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: #33A;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#post
{
    background: white;
    color: black;
    font-weight: bold;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDA;
    margin: 0 auto;
}
#container h1
{
    font-size: 30px;
}
#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}